@import '@fontsource-variable/syne';
@import '@fontsource/aileron';

:root {
  --font-heading: Syne, -apple-system, sans-serif;
  --font-body: Aileron, -apple-system, sans-serif;

  --color-background: rgb(250, 250, 250);
  --color-primary: rgb(66, 66, 62);
  --color-accent: rgb(164, 178, 39);
  --color-heading: rgb(50, 61, 78);
  --color-text: rgb(35, 35, 35);
  --color-on-accent: rgb(250, 250, 250);

	font-family: var(--font-body);
	color: var(--color-text);
}

body {
  margin: 0;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0
}


input,
button {
	font-size: inherit;
	font-family: inherit;
}
